footer {
  background-color: var(--blue);
  color: var(--gray-200);
  padding: 12vh var(--pi);
  min-height: max-content;
  height: 30vh;
  display: flex;
  align-items: center;
  font-size: 14px;
  > div {
    &:first-child {
      display: grid;
      grid-template-columns: max-content;
      row-gap: 15px;
      margin-right: 35px;
      justify-content: space-evenly;
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      align-items: end;
      margin-left: auto;
      button {
        margin-bottom: 20px;
      }
    }
  }
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 10px;
    li {
      list-style-type: none;
      transition: 0.3s;
      &:hover {
        color: var(--green);
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 850px) {
  footer {
    height: max-content;
    flex-direction: column;
    padding-block: 30px;
    div {
      &:first-child {
        margin: 0;
        div {
          display: flex;
          justify-content: space-evenly;
          margin-top: 30px;
          width: 200px;
        }
      }
      &:last-child {
        margin: 10px 0;
        align-items: center;
      }
    }
    ul {
      margin-block: 40px;
      grid-template-columns: max-content;
      text-align: center;
      row-gap: 20px;
    }
  }
}
